/* Add your CSS to this file */
:root{
    --c-primary: #ffffff;
    --c-secondary: #48BB78;
    --c-accent: #5A67D8;
    --c-dark: #4A5568;
    --c-light: #E2E8F0;
    --c-textmain: #6b7280;
}
body {
    background-color: var(--c-primary);
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    color: var(--c-textmain);
}

.overview-hero{
    background-color: var(--c-light);
}

.learn-about{

}

.testing{
    background-color: var(--c-dark);
    color: var(--c-primary);
}

.stories{

}

.newsletter{
    background-color: var(--c-secondary);
}

footer{
    background-color: var(--c-dark);
}