/* Add your CSS to this file */
:root{
    --c-primary: #ffffff;
    --c-secondary: #48BB78;
    --c-accent: #5A67D8;
    --c-dark: #4A5568;
    --c-light: #E2E8F0;
    --c-textmain: #6b7280;
}
body {
    background-color: var(--c-primary);
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    margin: 0;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/*************HEADER*****************/
header{
    color: var(--c-textmain);
    margin: 20px 0 20px 0; 
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin: 0;
    font-size: 18px;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
header li{
    margin-left: 10px;
    font-weight: 400;
}
header a{
    text-decoration: none;
    color: var(--c-textmain);
}
header a:hover{
    color: var(--c-accent);
}


/*************OVERVIEW*****************/
.overview-hero{
    background-color: var(--c-light);
    padding: 30px;
}
.overview-hero .container{
    display: flex;
    align-items: center;
}
.overview-hero img{
    width: 170px;
}
.overview-hero-image{
    margin-right: 10px;
}
.overview-hero-text{
    margin-left: 10px;
}


/*************LEARN ABOUT*****************/
.learn-about{
    margin: 10px 0 40px 0;
}
.learn-about .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.learn-about h2{
    color: var(--c-secondary);
    font-size: 24px;
}
.learn-about h3{
    font-size: 18px;
    color: var(--c-secondary);
}
.learn-about .card{
    border: 1px solid var(--c-light);
    border-radius: 5px;
    box-shadow: 0 3px 2px var(--c-light);
    overflow: hidden;
}
.learn-about .card img{
    width: 100%;
}
.learn-about .card-body{
    padding: 20px;
}


/*************TESTING*****************/
.testing{
    background-color: var(--c-dark);
    color: var(--c-primary);
    padding: 90px 50px 90px 50px;
}
.testing .container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
}
.testing .cta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testing .btn{
    background-color: var(--c-secondary);
    color: var(--c-primary);
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    white-space: nowrap;
}

/*************STORIES*****************/
.stories{
margin: 60px 0 60px 0;
}
.stories article{
    display: flex;
    

}
.stories h2{
    color: var(--c-accent);
    margin: 0;
}
.stories img{
    max-width: 180px;
    border-radius: 50%;
    align-self: center;
   margin-right: 30px;
}
.stories a{
    text-decoration: none;
    color: var(--c-accent);
    font-weight: 500;
}


/*************NEWSLETTER*****************/
.newsletter{
    background-color: var(--c-secondary);
    color: var(--c-primary);
    padding: 80px;
    text-align: center;
}
.newsletter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}
.newsletter h3{
    margin: 0;
}
.newsletter p{
    margin: 20px 0 20px 0;
}
.newsletter form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    width: 100%;
}
.newsletter input{
    height: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--c-light);
}
.newsletter button{
    background-color: var(--c-accent);
    color: var(--c-primary);
    width: 100%;
    padding: 18px;
    border-radius: 5px;
    border: 0.5px solid var(--c-accent);
    font-weight: 700;
    font-size: 14px;

}
.email-invalid{
    margin-top: 20px;
    background-color: rgb(219, 104, 104);
    border-radius: 8px;
    width: 250px;
    padding: 7px;
}
.email-valid{
    margin-top: 20px;
    background-color: var(--c-dark);
    border-radius: 8px;
    max-width: 350px;
    padding: 10px;
}


/*************FOOTER*****************/
footer{
    background-color: var(--c-dark);
    color: var(--c-primary);
    padding: 30px 0 30px 0;
}
footer p{
    margin: 0;
}